

body {
    background-color: aquamarine;
}

.topnav {
    position: sticky;
    top: 30px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.topnav a {
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Dosis', sans-serif;

}

#about h2 {
    margin-left: 70px;
}

p {
    font-size: 20px;
    margin-left: 70px;
    font-family: 'Roboto Mono', monospace;;
}

.skill-box {
    color: rgb(247, 253, 251);
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid #00c552; /* Set your desired border color */
    border-radius: 2px;
    background-color: rgb(56, 56, 56);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}